<div class="page-header">
  <%= link_to assignees_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_assignee_path(@assignee), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show assignee</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @assignee.name %></dd>

  <dt>Address:</dt>
  <dd><%= @assignee.address %></dd>

  <dt>City:</dt>
  <dd><%= @assignee.city %></dd>

  <dt>State:</dt>
  <dd><%= @assignee.state %></dd>

  <dt>Zip:</dt>
  <dd><%= @assignee.zip %></dd>

  <dt>Phone:</dt>
  <dd><%= @assignee.phone %></dd>

</dl>


